.fixed-nav {
  display: none !important; }

/* Big cover image on the home page */
#site-head {
  border-bottom: 10px solid #8B2B24;
  background: white;
  background-size: cover; }
  #site-head h1 {
    color: #532824;
    mix-blend-mode: hard-light; }
  #site-head .first {
    text-transform: uppercase;
    font-size: 1.56em;
    line-height: 1.2em; }
  #site-head .second {
    font-size: 1.25em;
    line-height: 1.1em;
    font-family: "PT Serif", serif;
    text-transform: uppercase; }
  #site-head .third {
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1.2em; }
  #site-head .fourth {
    line-height: 1.1em;
    font-size: 1.25em;
    font-family: "PT Serif", serif;
    text-transform: uppercase; }

.blog-title {
  font-size: 3rem; }

#olga-image, #alex-image {
  mix-blend-mode: hard-light;
  position: absolute;
  bottom: 0;
  width: auto; }

#olga-image {
  right: 50%;
  margin-right: -251px;
  max-height: 55%; }

#alex-image {
  left: 50%;
  margin-left: -300px;
  max-height: 58%; }

@media screen and (min-width: 401px) {
  #olga-image {
    margin-right: -271px; }
  #alex-image {
    margin-left: -320px; } }

@media screen and (max-width: 480px) {
  #site-head {
    height: 580px; } }

@media screen and (min-width: 481px) {
  #site-head {
    height: 700px; }
  #olga-image {
    margin-right: 0;
    right: -12%; }
  #alex-image {
    margin-left: 0;
    left: -26.5%; } }

@media screen and (min-width: 500px) {
  .blog-title {
    font-size: 4rem;
    letter-spacing: -1px; } }

@media screen and (min-width: 600px) {
  #olga-image {
    right: -8%; }
  #alex-image {
    left: -18%; } }

@media screen and (max-width: 991px) {
  #site-head {
    padding-bottom: 333px;
    padding-top: 0; }
    #site-head .vertical {
      vertical-align: top; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  #site-head {
    padding-top: 0;
    padding-bottom: 40%; }
  #olga-image, #alex-image {
    max-height: 60%; }
  #olga-image {
    right: -5%; }
  #alex-image {
    left: -9%; } }

@media screen and (min-width: 768px) {
  #site-head {
    height: 750px; } }

@media screen and (min-width: 992px) {
  #olga-image, #alex-image {
    max-height: 100%; }
  /* Big cover image on the home page */
  #olga-image {
    right: -20%; }
  #alex-image {
    left: -31%; } }

@media screen and (min-width: 1100px) {
  #olga-image {
    right: -14%; }
  #alex-image {
    left: -23%; } }

@media screen and (min-width: 1280px) {
  #olga-image {
    right: 50%;
    left: auto;
    margin-right: -780px; }
  #alex-image {
    right: auto;
    left: 50%;
    margin-left: -870px; } }

@media screen and (min-width: 1520px) {
  #olga-image {
    margin-right: -874px; }
  #alex-image {
    margin-left: -970px; }
  .blog-title {
    font-size: 5rem; } }

.post.first .post-title {
  display: none; }

.tag-details .post-header {
  display: none; }

.post-holder {
  width: 100%;
  height: 100%;
  background: #f2efe8;
  position: relative; }

.post-holder.odd {
  background: #444;
  color: white; }

.site-footer {
  background: #8B2B24; }

form {
  text-align: left;
  padding-bottom: 50px; }
  form textarea {
    display: block;
    width: 100%;
    max-width: 100%; }
  form .btn {
    background-color: #444; }
    form .btn:hover {
      background-color: #2b2b2b; }

.card {
  position: relative;
  max-width: 90%;
  padding: 30px;
  margin: 0 auto 30px;
  background-color: #fff;
  box-shadow: 0 0 1px rgba(180, 105, 47, 0.2), inset 0 0 20px rgba(180, 105, 47, 0.05);
  text-align: center; }
  .card h3 {
    color: #532824;
    text-transform: uppercase; }
  .card:before, .card:after {
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 12px;
    bottom: 12px;
    background: transparent;
    -webkit-transform: skew(-5deg) rotate(-5deg);
    -moz-transform: skew(-5deg) rotate(-5deg);
    -ms-transform: skew(-5deg) rotate(-5deg);
    -o-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-5deg);
    box-shadow: 0 6px 12px rgba(180, 105, 47, 0.3);
    z-index: -1; }
  .card:after {
    left: auto;
    right: 12px;
    -webkit-transform: skew(5deg) rotate(5deg);
    -moz-transform: skew(5deg) rotate(5deg);
    -ms-transform: skew(5deg) rotate(5deg);
    -o-transform: skew(5deg) rotate(5deg);
    transform: skew(5deg) rotate(5deg); }
  @media screen and (min-width: 768px) {
    .card {
      padding: 50px; } }

.flourish {
  background-color: #532824;
  -webkit-mask: url(../images/adaptive-border.svg) no-repeat 100% 100%;
  mask: url(../images/adaptive-border.svg) no-repeat 100% 100%;
  height: 76px;
  position: absolute;
  left: 5px;
  right: 5px; }
  .flourish.flourish-top {
    top: 5px; }
  .flourish.flourish-bottom {
    bottom: 5px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }

.post-after {
  display: none; }
