$font-pt: 'PT Serif', serif;
$font-oswald: 'Oswald', sans-serif;

$text: #3A4145;

$red: #8B2B24;
$red-dark: #7A2D29;
$red-darkest: #532824;

$orange: #A94D1C;
$orange-yellow: #B4692F;

$brown: #6A4921;
$brown-darkest: #40250A;

$gray-dark: #444;