$font-pt: 'PT Serif', serif;
$font-oswald: 'Oswald', sans-serif;

// $text: #3A4145;
$text: #555;
$white-off: #f2efe8;

$red: #8B2B24;
$red-dark: #7A2D29;
$red-darkest: #532824;

$orange: #A94D1C;
$orange-yellow: #B4692F;

$yellow-gold: #D0BB6C;
$yellow: #EDC528;
$yellow-light: #F3F9CC;

$brown: #6A4921;
$brown-darkest: #40250A;

$gray-dark: #444;

$blue-lightest: #E5EDF2;
$blue-dark: #002E4C;
$blue-dark-alt: #2D3246;
$blue-gray: #5F6676;
$blue-faded: #416176;
$blue: #586C85;