@import "mq";
@import "bourbon-loader";
@import "vars";

// Header

.fixed-nav {
  display: none!important;
}

/* Big cover image on the home page */
#site-head {
  border-bottom: 10px solid $red;

  h1 {
    color: $red-darkest;
    mix-blend-mode: hard-light;
  }
  .first {
    text-transform: uppercase;
    font-size: 1.56em;
    line-height: 1.2em;
  }
  .second {
    font-size: 1.25em;
    line-height: 1.1em;
    font-family: "PT Serif", serif;
    text-transform: uppercase;
  }
  .third {
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1.2em;
  }
  .fourth {
    line-height: 1.1em;
    font-size: 1.25em;
    font-family: "PT Serif", serif;
    text-transform: uppercase;
  }
}

#olga-image, #alex-image {
  mix-blend-mode: hard-light;
  position: absolute;
  bottom: 0;
  width: auto;
  max-height: 55%;
}

#olga-image {
  right: -12%;
}

#alex-image {
  left: -12%;
}

// @includ respond($xs-only) {
//   #site-head {
//     height: 75%;
//     padding-bottom: 62%;
//   }
// }

@include respond($sm-and-down) {
  #site-head {
    height: 75%;
    padding-bottom: 62%;
    padding-top: 0;

    .vertical {
      vertical-align: top;
    }
  }
}

@include respond($sm-only) {
  #site-head {
    height: 70%;
    padding-top: 0;
    padding-bottom: 40%;
  }

  #olga-image, #alex-image {
    max-height: 60%;
  }

  #olga-image {
    right: -5%;
  }

  #alex-image {
    left: -2%;
  }

}

@include respond($md-up) {
  #olga-image, #alex-image {
    max-height: 100%;
  }

  /* Big cover image on the home page */
  #site-head {
    height: 80%;
  }

  #olga-image {
    right: -20%;
  }

  #alex-image {
    left: -17%;
  }
}

@include respond($lg-up) {
  #olga-image {
    right: -10%;
  }

  #alex-image {
    left: -8%;
  }
}

@include respond($xl-up) {
  #olga-image {
    right: -1%;
  }

  #alex-image {
    left: 0%;
  }
}



// Posts

.tag-details {
  .post-header {
    display: none;
  }
}

.post-holder {
    width:100%;
    height: 100%;
    background: #f2efe8;
    position: relative;
}
.post-holder.odd {
    background: $gray-dark;
    color: white;
}

// Footer

.site-footer {
  background:  $red;
}

// Components

.card {
  position: relative;
  max-width: 90%;
  padding: 30px;
  margin: 0 auto 30px;
  background-color: #fff;
  box-shadow: 0 0 1px rgba($orange-yellow, 0.2), inset 0 0 20px rgba($orange-yellow, 0.05);
  text-align: center;

  h3 {
    color: $red-darkest;
    text-transform: uppercase;
  }

  &:before, &:after {
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 12px;
    bottom: 12px;
    background: transparent;
    @include transform(skew(-5deg) rotate(-5deg))
    box-shadow: 0 6px 12px rgba($orange-yellow, 0.3);
    z-index: -1;
  } 

  &:after {
    left: auto;
    right: 12px;
    @include transform(skew(5deg) rotate(5deg));
  }

  @include respond($sm-up) {
    padding: 50px;
  }
}

.flourish {
  background-color: $red-darkest;
  -webkit-mask:  url(../images/adaptive-border.svg) no-repeat 100% 100%;
  mask: url(../images/adaptive-border.svg) no-repeat 100% 100%;
  height: 76px;
  position: absolute;
  left: 5px;
  right: 5px;

  &.flourish-top {
    top: 5px;
  }
  &.flourish-bottom {
    bottom: 5px;
    @include transform(rotate(180deg));
  }

}

// Temp
.post-after {
  display: none;
}
