@import "mq";
@import "bourbon-loader";
@import "vars";

// Header

// .fixed-nav {
//   display: none!important;
// }

.fixed-nav {
  display: none;
}

/* Big cover image on the home page */
#site-head {
  border-bottom: 10px solid $blue-faded;
  background: white;
  background-size: cover;
  max-width: 100%;
  overflow: hidden;

  #header-arrow {
    z-index: 1;
  }

  #header-arrow, h1 {
    color: $blue-dark;
    // text-shadow: 2px 2px 1px rgba($yellow-light, 1);
    opacity: 0.7;
  }

  .first {
    text-transform: uppercase;
    font-size: 1.46em;
    line-height: 1.2em;
  }
  .second {
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.3em;
    // font-family: "PT Serif", serif;
  }
  .third {
    text-transform: uppercase;
    font-size: 1.63em;
    line-height: 1.2em;
  }
  .fourth {
    line-height: 1.1em;
    font-size: 2em;
    // font-family: "PT Serif", serif;
    text-transform: uppercase;
  }
}
.blog-title {
    font-size: 3rem;
}

#olga-image, #alex-image {
  // mix-blend-mode: hard-light;
  position: absolute;
  bottom: 0;
  width: auto;
}

#olga-image {
  right: 50%;
  margin-right: -251px;
  max-height: 55%;
}

#alex-image {
  left: 50%;
  margin-left: -300px;
  max-height: 58%;
}

@media screen and  (min-width: 401px) {
  #olga-image {
    margin-right: -271px;
  }

  #alex-image {
    margin-left: -320px;
  }
}

@media only screen and (min-width: 650px) {
  body {
    padding-top: 35px;
  }

  .fixed-nav {
    display: block;
    box-sizing: border-box;
    opacity: 1;
    position: fixed;
    height: 35px;
    top: 0px;
    left: 0px;
    z-index: 99999;
    width: 100%;
    text-align: center;
    padding: 5px 4px;
    font-size: 1.8rem;
    line-height: 130%;
    font-weight: $font-weight-normal;
    text-decoration: none;
    background: $blue-faded;


    *, a {
      color: white;
    }
    
    a {
      text-decoration: none;
      display: inline-block;
      // margin-left: 10px;

      &:focus {
        outline: none;
      }

      ~ a {
        margin-left: 12px;
        padding-left: 12px;
        border-left: 1px solid white;
      }
    }
  }
}

@media screen and (max-width: #{$screen-xs}) {
  #site-head {
    height: 580px;
  }
}


@media screen and (min-width: #{$screen-xs + 1}) {
  #site-head {
    height: 720px;
  }

  #olga-image {
    margin-right: 0;
    right: -12%;
  }

  #alex-image {
    margin-left: 0;
    left: -26.5%;
  }
}

@media screen and (min-width: 500px) {
  .blog-title {
    font-size: 4rem;
    letter-spacing: -1px;
  }
}

@media screen and (min-width: 600px) {

  #olga-image {
    right: -8%;
  }

  #alex-image {
    left: -18%;
  }
}


@include respond($sm-and-down) {
  #site-head {
    padding-bottom: 333px;
    padding-top: 0;

    .vertical {
      vertical-align: top;
    }
  }
}

@include respond($sm-only) {
  #site-head {
    padding-top: 0;
    padding-bottom: 40%;
  }

  #olga-image, #alex-image {
    max-height: 60%;
  }

  #olga-image {
    right: -5%;
  }

  #alex-image {
    left: -9%;
  }

}

@include respond($sm-up) {
  #site-head {
    height: 750px;
  }
}

@include respond($md-up) {
  #olga-image, #alex-image {
    max-height: 100%;
  }

  /* Big cover image on the home page */
  // #site-head {
  //   height: 80%;
  // }

  #olga-image {
    right: -20%;
  }

  #alex-image {
    left: -31%;
  }
}

@media screen and (min-width: 1100px) {
  #olga-image {
    right: -14%;
  }

  #alex-image {
    left: -23%;
  }
}


@include respond($lg-up) {
  #olga-image {
    right: 50%;
    left: auto;
    margin-right: -780px;
  }

  #alex-image {
    right: auto;
    left: 50%;
    margin-left: -870px;
  }
}

@include respond($xl-up) {
  #olga-image {
    margin-right: -874px;
  }

  #alex-image {
    margin-left: -970px;
  }
  .blog-title {
    font-size: 5rem;
  }
}



// Posts

.post.first {
  .post-title {
    display: none;
  }
}

.tag-details {
  .post-header {
    display: none;
  }
}

.post-holder {
    width:100%;
    height: 100%;
    background: $white-off;
    position: relative;
}
.post-holder.odd {
    background: $blue-faded;
    color: white;
}

// Footer

.site-footer {
  background:  $gray-dark;//rgba(saturate($blue-dark, 50%), 0.7);
}

// Components

form {
  text-align: left;
  padding-bottom: 50px;

  textarea {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .btn {
    background-color: $gray-dark;

    &:hover {
      background-color: darken($gray-dark, 10%);
    }
  }
}

.card {
  position: relative;
  max-width: 90%;
  padding: 30px;
  margin: 0 auto 30px;
  background-color: #fff;
  // box-shadow: 0 0 1px rgba($gray-dark, 0.2), inset 0 0 20px rgba($gray-dark, 0.05);
  text-align: center;

  h3 {
    color: $text;//saturate($blue-dark, 50%);
    // opacity: 0.7;
    // text-shadow: 1px 1px 1px rgba($yellow-gold, 1);
    text-transform: uppercase;
  }

  &:before, &:after {
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 12px;
    bottom: 12px;
    background: transparent;
    @include transform(skew(-5deg) rotate(-5deg))
    box-shadow: 0 6px 12px rgba($orange-yellow, 0.3);
    z-index: -1;
  } 

  &:after {
    left: auto;
    right: 12px;
    @include transform(skew(5deg) rotate(5deg));
  }

  @include respond($sm-up) {
    padding: 50px;
  }
}

.flourish {
  background: url('https://s3-us-west-2.amazonaws.com/schmolga-wedding/adaptive-border.svg') no-repeat 100% 100%;
  height: 76px;
  position: absolute;
  left: 5px;
  right: 5px;

  &.flourish-top {
    top: 5px;
  }
  &.flourish-bottom {
    bottom: 5px;
    @include transform(rotate(180deg));
  }

}

// Temp
.post-after {
  display: none;
}
